body {
    font-family: "Arial";
}

#user_report_table p {
    margin: 0;
}

.user_report_row_head {
    font-size: 0.75em; /* 12px/16=0.75em */

    max-width: 200px;
    min-width: 200px;


}

.work_type_title {
}

.work_title_title {
    font-weight: bolder;
}

.work_form_title {
}

.work_instance_details {
    font-style: italic;
}

.report_record_monthday {
    width: 40px;
    font-weight: bold;
}

.report_record_hours_num_input {
    width: 40px;
    text-align: center;
}